pyrofork==2.3.38
TgCrypto
pyromod==1.5
humanize
schedule
APScheduler
# --- For-Database ------------ #
pymongo
motor
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
aiofiles
# --- For auto-upload posters ------- #
Pillow
numpy
